@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
}

@theme {
  --color-white: #f4f4f4;
  --color-black: #333333;
  --text-black: #333333;
  --text-white: #f4f4f4;
  --color-foreground: #f4f4f5;
  --color-background: #d9d9d9;
  --color-accent: #1b626e;
  --color-accent-light: #62a2ae;
  --color-accent-dark: #0f4c54;
  --color-accent-darker: #0b3a42;
  --color-white-light: #bbbbbb;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
